.peculiarities {
	padding: 94px 0;
}

.peculiarities__flex {
	display: flex;
	flex-direction: row
}

.peculiarities-info {
	width: 270px;
	margin-right: 30px;
}

.peculiarities-info:last-child {
	margin-right: 0;
}

.peculiarities-info h2 {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-title;
}

.peculiarities-info p {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $gray;
}
.peculiarities-info{
	&:before{
		display: block;
		content: "";
		height: 120px;
		background-size: 70px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #f5f4fa;
		margin-bottom: 20px;
	}
}
.peculiarities-icon1::before {
	background-image: url(../images/antenna.svg);
}

.peculiarities-icon2::before {
	background-image: url(../images/clock.svg);
}

.peculiarities-icon3::before {
	background-image: url(../images/diagram.svg);
}

.peculiarities-icon4::before {
	background-image: url(../images/astronaut.svg);
}
